/*updated may 27 2022
<!--Submitted by: Bonie F.
   Date: June 5, 2022--> */


.naV {
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   

   

}

:root {
   --header-color: black;
   --font-color: black;
   --bg-color: rgb(243, 189, 243);
}

body {
   color: var(--font-color);
   background-color: var(--bg-color);
   font-family: 'Courier New', Courier, monospace;
   
}

 h1 {
   padding: 2px;
   color: black;
   font-size: 3rem;
   font-weight: bold;
   text-align: center;

}

h2 {
   color: var(--header-color);
   font-size: 1rem;
}
h3{
   text-align:center;
   font-size: small;
}
h4{
   text-align:center;
   font-size:medium;
   color:black;
   font-weight: bolder;

}


a:hover {
   color: #07d;
}

input[type=submit]:hover {
   background-color: sandybrown;
      color: #09f;
}
button[type="submit"]:hover, button[type="reset"]:hover {
   text-decoration: underline;
} 
button[type="submit"]:active, button[type="reset"]:active {
   text-decoration: none;
   font-weight: bold;
}

footer {
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1 em;
   color: black;
   text-align: center;
}

header{
   background-color: sandybrown;
   height: 30px;
   text-align: justify;
   padding: 3px 3px 20px 3px;
   border-style: ridge;
   color: snow;
}

img {
   height: 150px;
   width: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 3px;
}

.description {
   padding: 5px;
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: justify;
}

.review {
   padding: 5px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 510px;
   text-align: left;
}

#gridMenu {
   margin-left: 20%;
   margin-right: 20%;
   grid-gap: 5px 5px;
   display: grid;
   grid-template-columns: auto auto auto;
}

#gridMenu>div {
   background-color: sandybrown;
   text-align: center;
   border: 3px ridge silver;
   padding: 20px;
}


input[type=submit] {
   width: 125px;
   background-color: #09f;
   color: white;
   padding: 15px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: #07d;
   color: white;
}
form {
   font: 10pt Arial;
   padding: 2px;
}

label {
   display: inline-block;
   margin-left:30%;
   margin-right: 30%;
   
   

}

input[type=text],
select {
   margin-right: auto;
   margin-left:auto;
   display:block;
   width: 300px;
   padding: 10px;
   border: 1px solid #aaa;
   border-radius: 4px;
}

input[type=email] {
   margin-right: auto;
   margin-left:auto;
   display:block;
   display:block;
   width: 300px;
   padding: 10px;
   border: 1px solid #aaa;
   border-radius: 4px;
}


textarea {
   margin-right: auto;
   margin-left:auto;
   display:block;
   display: block;
   height: 100px;
   padding: 0px;
   width: 320px;
   border-radius: 4px;
   border: 1px solid #aaa;
   box-sizing: border-box;
   resize: none;
}

input[type=radio] {
   margin: 5px 10x;
   display: inline-block;
}


input[type=checkbox] {
   margin: 5px 10x;
   display: inline-block;
}


.cenTer {
   margin-left:auto;
   margin-right:auto;
   display: block;
   
}

 
.naV .btn {
   background-color:#07d;
   color: #fef9ff; 
}  

.naV .btn:hover 
{
    font-weight: bold;
}
.required:after{
   content:"*";
   color:red;
}

/* for mobile */
@media only screen and (min-width:400px) {
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
   
 }

 
/*for tablet */
@media only screen and (min-width:600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
}

@media only screen and (min-width:700px){
.col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
   
/*desktop*/
@media screen and (min-width: 900px) {
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
 } 


@media only screen and (min-width:1200px){
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
 } 

      
   







