


.nav {
   text-align: left;
}
    :root {
     --header-color: black;
     --font-color: black;
     --bg-color: rgb(243, 189, 243);
  }
  
    body {
       color: var(--font-color);
       background-color: var(--bg-color);
       font-family:'Courier New', Courier, monospace;
    }
        
  h1 {
     padding:2px;
     color: var(--header-color);
     font-size: 3rem;
     font-style:bold;
     font-variant: small-caps;
     text-align: center;
     
   }
        
  h2 {
     color: var(--header-color);
     font-size: 1rem;
    }
  
   
  a:hover {
     color:#07d; 
  }  
       
     
  input[type=submit]:hover {
    background-color:sandybrown;
    color:#09f;
	}

   
        footer{

                margin-top: 200px;
                margin-bottom:auto ;      
                font-family: 'Courier New', Courier, monospace;
                color:black;
                text-align: center;
                
            
                              
                }	


        header{
                background-color:sandybrown;
                height: 30px;
                text-align:justify;
                padding: 3px 3px 20px 3px;
                border-style:ridge;
                color:snow;            
                }        
       img{
          height: 150px;
          width: 400px;
          display:block;
          margin-left: auto;
          margin-right:auto;
          padding:10px;
          
       }
               
       .description{
          padding:5px;
          width: 500px;
          margin-left:auto;
          margin-right:auto;
          display:block;
          text-align: justify;

       }
      .review{
         padding:5px;
         margin-left: auto;
         margin-right: auto;
         display: block;
         width: 510px;
         text-align: left;
      }
       #gridMenu{
          margin-left: 20%;
          margin-right: 20%;
          grid-gap: 5px 5px;
          display:grid;
          grid-template-columns: auto auto auto;
          
          
       }

       #gridMenu> div{
          background-color: sandybrown;
          text-align: center;
          border: 3px ridge silver;
          padding: 20px;
       }
       

       input[type=submit] {
         width:125px;
         background-color: #09f;
         color: white;
         padding: 15px;
         margin-right: auto;
         margin-left: auto;
         display: block;
         border: none;
         border-radius: 4px;
         cursor: pointer;
     }
     
       input[type=submit]:hover {
         background-color: #07d;
         color: white;
        }


   
      form {
         font: 10pt Arial;
         padding: 2px;
      }
      label {
         width: 300px;
         display: inline-block;
         text-align:right;
         margin:3px 0px;
         
      }
      input[type=text], select{
         width:300px;
         padding: 10px;
         margin: 3px 20px;
         border: 1px solid #aaa;
         border-radius: 4px;
      }
      input[type=email] {
         margin: 3px 20px;
         width:300px;
         padding: 10px;
         border: 1px solid #aaa;
         border-radius: 4px;
      }
           
      label[for=info]{
         display:inline-block;
         margin-top: 75px;
      }
      
       

        textarea {
         margin: 3px 20px;
         height:175px;
         padding:10px;
         width: 320px;
         border-radius: 4px;
         border: 1px solid #aaa;
         box-sizing: border-box;
         resize: none;
         
        }

        
        


         input[type=radio]{
            display:inline;
            margin: 3px 20px;
            display:inline-block;
            padding:20px;

         }
         
         .center{
            margin-left: 10%;
            margin-right: 10%;
            position: relative;
            
         }
         

         #myForm{
            margin-left: 220px;
            margin-right: auto;
            display:inline-block;
            grid-template-columns: auto;
         }
         