


.nav {
   text-align: left;
}



 label{
    display:inline-table;
    width:600px;
    margin-top: 10px;
    text-align: right;
 }
 
    :root {
     --header-color: black;
     --font-color: black;
     --bg-color: rgb(243, 189, 243);
  }
  
    body {
       color: var(--font-color);
       background-color: var(--bg-color);
       font-family: comic sans ms;
     }
        
  h1 {
     color: var(--header-color);
     font-size: 3rem;
     font-style:bold;
     font-variant: small-caps;
     text-align: center;
     
   }
        
  h2 {
     color: var(--header-color);
     font-size: 1rem;
    }
  
  
  
  a:hover {
     color:rgb(127, 252, 102); 
  }  
   
  section {
     margin-top: 50px;
     margin-left:20px;
     
     
  }
             
  .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
  }    
  
  input[type=text] {
    border: 3px ridge silver;
    width: 25%;
    padding: 8px 8px;
    margin: 2px;
    box-sizing: border-box;
    background-color: sandybrown;
    font-size: 1.1em;
     
}


select{
   border: 3px ridge silver;
    width: 25%;
    padding: 8px 8px;
    margin: 2px;
    box-sizing: border-box;
    background-color: sandybrown;
    font-size: 1.1em; 
}

input[type=submit] {
    font-size: 1.2em;
    background-color: sandybrown;
    color:silver;
    padding: 4px 8px;
    
}

input[type=submit]:hover {
    background-color:sandybrown;
    color:rgb(173, 255, 47);
	}


textarea {
    width: 25%;
    height:175px;
    padding: 12px 20px;
    margin:4px 606px;
    box-sizing: border-box;
    border: 4px ridge silver;
    border-radius: 3px;
    background-color: sandybrown;
    resize: none;
   }
    
        footer{
                background-color:hsl(0, 89%, 58%);
                color:hsl(209, 84%, 71%);
                height: 75px;
                text-align: center;
                padding: 3px 10px 30px 3px;
                border-style:ridge;
                
                }	


        header{
                background-color:sandybrown;
                height: 30px;
                text-align:justify;
                padding: 3px 3px 20px 3px;
                border-style:ridge;
                color:snow;            
                }        

                     
        th,tr, td {
            border: 3 px;
            border-radius: 10px;
            border-style: 2px ridge;
            border-color:silver;

             }
        table{
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            }

        
        legend{
            margin-right: 1050px;
            text-align: right;
            }

      ul{
         margin-top:0px;
         list-style-type: none;
         margin-left:600px;
         margin-right:700x;
         
      }